[user]
	name = Kale Franz
	email = kfranz@continuum.io
    signingkey = F62CD988
[push]
	default = current
[pull]
	default = current
	rebase = true
[branch]
	autosetuprebase = always
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true
[core]
	editor = vim
	excludesfile = /Users/kfranz/.gitignore_global
[color]
	ui = true
[diff]
	diff-algorithm = patience
[merge]
    # make --no-ff the default behavior
    ff = false
[rerere]
	enabled = true
[alias]
    commit = commit -s

    message = !curl -sS http://whatthecommit.com/index.txt

    yolo = "!f() { git commit -s -am \"$(curl -sS http://whatthecommit.com/index.txt | tee /dev/stderr)\" && git push; }; f"

    punch = !git add --all && git commit -s --amend --no-edit && git push -f

    hard = reset HEAD --hard

    # sign tags
    tag = tag -s

    # compact git log graph
    lol = log --oneline --decorate --graph --all

    # reset HEAD --hard leaving a dangling commit for current changes to enhance safety
    wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard

    # git commit all with message
    ca = !git add -A && git commit -s -m

    # git commit shortcut
    ci = commit -s

    # git checkout shortcut
    co = checkout

    # quick status
    st = status -s

    # instead of git stash and git stash pop, use git save and git undo when switching branches
    save = !git add -A && git commit -m 'SAVEPOINT'
    ss = !git add -A && git commit -m \"$(curl -sS http://whatthecommit.com/index.txt)\"
    popsave = reset HEAD~1 --mixed

    checkout-pr = "!f() { git fetch origin pull/${1}/head:pr-${1} && git checkout pr-${1}; }; f"

    # aliases from http://haacked.com/archive/2014/07/28/github-flow-aliases/
    # git bdone will clean up any merged branches and put you back on the develop branch
    up = !git fetch --all && [[ -z $(git status --porcelain -uno) ]] && git pull --rebase
    bclean = "!f() { git branch --merged ${1-develop} | grep -v " ${1-develop}$" | xargs git branch -d; }; f"
    bdone = "!f() { git checkout ${1-develop} && git up && git bclean ${1-develop}; }; f"
    rm-gone = "!f() {git branch -vv | grep gone | awk '{print $1}' | xargs -n1 git branch -D; }; f"

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[hub]
	protocol = ssh
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
