[user]
	name = Kale Franz
	email = kfranz@continuum.io
        signingkey = F62CD988
[push]
	default = current
[pull]
	default = current
	rebase = true
[branch]
	autosetuprebase = always
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true
[core]
	editor = vim
	excludesfile = /Users/kfranz/.gitignore_global
[color]
	ui = true
[diff]
	diff-algorithm = patience
[merge]
    # make --no-ff the default behavior
    ff = false
[rerere]
	enabled = true
[alias]
    yolo = !git commit -am "$(curl http://whatthecommit.com/index.txt)" && git push -f

    # sign tags
    tag = tag -s

    # compact git log graph
    lol = log --oneline --decorate --graph --all
 
    # reset HEAD --hard leaving a dangling commit for current changes to enhance safety
    wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
 
    # git commit all with message
    ca = !git add -A && git commit -m
 
    # git commit shortcut
    ci = commit
 
    # git checkout shortcut
    co = checkout
 
    # quick status
    st = status -s
 
    # instead of git stash and git stash pop, use git save and git undo when switching branches
    save = !git add -A && git commit -m 'SAVEPOINT'
    popsave = reset HEAD~1 --mixed
 
    # aliases from http://haacked.com/archive/2014/07/28/github-flow-aliases/
    # git bdone will clean up any merged branches and put you back on the develop branch
    up = !git fetch --all && [[ -z $(git status --porcelain -uno) ]] && git pull --rebase
    bclean = "!f() { git branch --merged ${1-develop} | grep -v " ${1-develop}$" | xargs git branch -d; }; f"
    bdone = "!f() { git checkout ${1-develop} && git up && git bclean ${1-develop}; }; f"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[hub]
	protocol = ssh
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
