[user]
	name = Kale Franz
	email = kfranz@23andme.com
[push]
	default = tracking
[pull]
	rebase = true
[credential]
	helper = osxkeychain
[core]
	editor = vi
	excludesfile = /Users/kfranz/.gitignore_global
[color]
	ui = true
[diff]
	diff-algorithm = patience
[alias]
	c = commit -m
	ca = commit --amend
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[branch]
	autosetuprebase = always
